<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--transaction -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="list*" read-only="true"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
            <tx:method name="retrieve*" read-only="true"/>
            <tx:method name="save*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut expression="execution(* org.wangy.webtest.service.impl.*.*(..))" id="servicePoint"/>
        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="servicePoint"/>
    </aop:config>

    <!-- transaction end-->


    <!-- Aop-->
    <bean id="loggerAdvice" class="org.wangy.webtest.aop.LoggerAdvice"/>
    <aop:config>
        <aop:aspect id="loggerAdviceAop" ref="loggerAdvice">
            <aop:pointcut id="pointCutBefore" expression="execution(* org.wangy.webtest.service.impl.UserServiceImpl.save(..))"/>
            <aop:before method="logBefore" pointcut-ref="pointCutBefore"/>
        </aop:aspect>
    </aop:config>
    <!-- Aop end-->


    <!-- userAudit Aop-->
    <bean id="userAuditAdvice" class="org.wangy.webtest.aop.UserAuditAdvice">
        <property name="userAuditService" ref="userAuditService"/>
    </bean>


    <aop:config>
        <!-- Aspect（切面）：一种跨多对象的横向模块化关系-->
        <aop:aspect id="userAuditAdviceAop" ref="userAuditAdvice">
            <!-- Pointcut（切入点）：当一个通知将被激活的时候，会指定一些结合点-->
            <aop:pointcut id="userAuditPoint" expression="execution(* org.wangy.webtest.service.UserService.save(..)) &amp;&amp; args(user)"/>

            <aop:after-returning method="userAuditBefore" pointcut-ref="userAuditPoint" returning="id"/>
        </aop:aspect>
    </aop:config>
    <!-- userAudit Aop  end-->

</beans>